name: Create pdf
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  compile:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Tectonic
        uses: wtfjoke/setup-tectonic@v3
        with:
          biber-version: 2.17

      - name: Compile pdf
        run: uv run -m main

      - name: Prep for release
        run: |
          echo "release_name=$(date +'%b %d, %Y')" >> $GITHUB_ENV
          echo "release_tag=$(date +'%Y/%m/%d/%H.%M.%S')" >> $GITHUB_ENV

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ env.release_name }}
          tag_name: ${{ env.release_tag }}
          files: pdfs/*
